<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/final.css">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Urgent medical attention may be needed. Please call 011-22307145 or go to the Emergency Department</h2>
        <p>Based on your symptoms, urgent medical attention may be needed. Tell the operator or emergency staff if you have had contact with someone with COVID-19</p>
    </div>
</body>
</html>